/* 组件 */
.van-uploader__upload-icon,
.van-uploader__file-icon {
  right: 6px;
  bottom: 5px;
}
.van-image {
  left: -7px;
}
.van-uploader__input-wrapper .van-button--default {
  color: #666666;
  font-size: 13.2px;
  line-height: 19.2px;
}
.van-uploader__input-wrapper .van-button--default {
  border: none;
}
.van-uploader__input-wrapper .van-button {
  height: 30px;
}
/* 修改中心样式 */
.xiu .personalInfor {
  background: #fff;
}
.xiu .portraitWrap {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.xiu .portraitWrap #file {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.xiu .portraitWrap .portrait {
  cursor: pointer;
  width: 66px;
  height: 66px;
  margin: 12px auto 0;
  background: url('http://o.bookschina.com/images/wap/portrait.png') no-repeat;
  background-size: 66px;
  border-radius: 100%;
  overflow: hidden;
}
.xiu .portraitWrap .portrait img {
  width: 100%;
  height: 66px;
}
.xiu .portraitWrap .text {
  color: #666666;
  font-size: 13.2px;
  line-height: 19.2px;
  margin-top: 9px;
}
.xiu .personalInfor ul {
  padding: 12px 12px 0;
}
.xiu .personalInfor ul li {
  border-top: 1px solid #f3f3f3;
}
.xiu .personalInfor ul li:nth-child(5) {
  border-top: 5px solid #f6f4f5;
}
.xiu .personalInfor ul li a {
  display: block;
  overflow: hidden;
}
.xiu .personalInfor ul li b {
  float: left;
  font-size: 13.2px;
  color: #333333;
  height: 39.6px;
  line-height: 39.6px;
}
.xiu .personalInfor ul li span {
  float: right;
  color: #666;
  font-size: 12px;
  height: 39.6px;
  line-height: 39.6px;
  padding-right: 15px;
  margin-right: 3.6px;
  background: url('http://o.bookschina.com/images/wap/personalRightarrow.png') no-repeat right center;
  background-size: 7.8px 14.4px;
}
.xiu .personalInfor ul li input {
  float: right;
  color: #666;
  font-size: 12px;
  height: 39.6px;
  line-height: 39.6px;
  padding-right: 15px;
  margin-right: 3.6px;
  border: 1px solid #ccc;
}
.xiu .otherInfor {
  margin-top: 5.4px;
  background: #fff;
}
.xiu .otherInfor ul {
  padding: 0 12px;
}
.xiu .otherInfor ul li {
  border-top: 1px solid #f3f3f3;
}
.xiu .otherInfor ul li a {
  display: block;
  overflow: hidden;
}
.xiu .otherInfor ul li b {
  float: left;
  font-size: 13.2px;
  color: #333333;
  height: 39.6px;
  line-height: 39.6px;
}
.xiu .otherInfor ul li span {
  float: right;
  color: #666;
  font-size: 12px;
  height: 39.6px;
  line-height: 39.6px;
  padding-right: 15px;
  margin-right: 3.6px;
  background: url('http://o.bookschina.com/images/wap/personalRightarrow.png') no-repeat right center;
  background-size: 7.8px 14.4px;
}
/*退出登录*/
.xiu1 .exitBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.xiu1 .exitBtn a {
  color: #fff;
  display: block;
  height: 52.8px;
  background: #fff;
  font-size: 15.6px;
  background: #e60000;
  line-height: 52.8px;
  text-align: center;
}
/*截图上传页面*/
.xiu1 .clipbg {
  display: none;
  position: fixed;
  background: black;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
}
.xiu1 .loadClipImg {
  position: absolute;
  top: 40%;
  width: 38%;
  left: 31%;
  height: 36px;
  line-height: 36px;
  z-index: 99999;
  text-align: center;
  color: #ffffff;
  border-radius: 36px;
  background: #9f9f9f;
  display: block;
  font-size: 14.4px;
}
.xiu1 .clipbg #clipArea {
  width: 100%;
  height: 80%;
  margin: auto;
}
.xiu1 .clipfooter {
  overflow: hidden;
  background: #fff;
  height: 51.6px;
  line-height: 51.6px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0px;
  font-size: 14.4px;
  color: #333333;
}
.xiu1 .clipfooter #clipback {
  float: left;
  height: 51.6px;
  padding: 0 22.8px;
}
.xiu1 .clipfooter #clipBtn {
  float: right;
  height: 51.6px;
  padding: 0 22.8px;
}
